table{
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    /* Aplica sombra 
    Direita | Baixo | Dispersão */
    box-shadow: 0px 4px 10px #000000 (0,0,0,0.2);
}

th, td{
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
}

th{
    background-color: #5c5c5c;
    color: white
}

img{
    height: 15px;
    width: 15px;
}