*{
    margin: 0px;
    padding: 0px;
    color: rgb(255, 0, 0);
}

header{
    width: 100vw;
    height: 10vh;
    background-color: rgb(236, 240, 32);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

header img{
    width: 10%;
}

.a{
    text-decoration: none;
}

#container-banner{
    background-image: url(request-services-banner.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
}

#user{
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;

}

p{
    color:white;
    border-radius: 50%;
    background-color: red;
    width: 1%;
    height: 18%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10%;
    right: 1.9%;
}

#icon{
    position: relative;
}

#zap{
    width: 5%;
    position: fixed;
    bottom: 10px;
    right: 15px;
}

#boxZap{
    border: blue solid 2px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    
}

#paginas{
    border: blue;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}