.carousel {
    width: 100vw;
    height: auto;
    overflow: hidden;
}

.carousel-item {
    height: 100vh;
    object-fit: cover;
    /* ajustar o conteúdo dentro de um container, cobrindo totalmente o espaço, sem distorcer. */
}

.carousel-caption{
    display: flex;
    margin-bottom: 5%;
    
}

.carousel-caption * {
    text-shadow: 10px 10px 8px black;
}

.carousel-caption h1{
    font-size: 80px;
}

.carousel-caption h6{
    font-style: italic;
    text-transform: uppercase;
}

.carousel-caption p{
    
}